@import "../../scss/variables";

.search-input {
  position: relative;

  input {
    outline: none;
    border: 1px solid $common-border-grey;
    box-sizing: border-box;
    border-radius: 29px;
    min-width: 254px;
    height: 32px;
    padding: 0 2.5rem;
    color: black;
    display: block;

    &:focus {
      border: 1px solid #2B7CEE;
      color: black;
    }
  }
}

.search-input__ico {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  margin-top: -14px;
  left: 8px;
}
