@import "./scss/topBar";

.main {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 24px;
}

.column-1 {
  margin-right: 3rem;
  margin-left: 5rem;
}

.column-2 {
  width: 1136px;
}
