@import "../../scss/variables";
$common-padding: 2rem;

.employee {
  position: relative;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(54, 65, 76, 0.15);
  border-radius: 4px;
  padding: $common-padding;
  margin-bottom: 1rem;
}

.employee__photo {
  > img {
    width: 128px;
    height: 128px;
    border-radius: 60px;
  }
}

.employee__info {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.employee__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: flex;
}

.employee__edit-name {
  margin-left: 5px;
  cursor: pointer;
}

.employee__info-row {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  min-width: 340px;
  border-bottom: 2px dotted #808080;
  margin-bottom: 1rem;
}

.employee__label,
.employee__value {
  position: relative;
  bottom: -2px;
  background: white;
}

.employee__label {
  color: #808080;
  padding-right: 0.25rem;
}

.employee__value {
  color: black;
  padding-left: 0.25rem;
}

.employee__edit-button {
  background: #2B7CEE;
  border-radius: 4px;
  position: absolute;
  right: $common-padding*0.75;
  bottom: $common-padding*0.75;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  cursor: pointer;

  > img {
    margin-left: 0.5rem;
  }
}

.employee__status {
  position: absolute;
  top: $common-padding*0.75;
  left: $common-padding*0.75;
  border-radius: 3px;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  display: none;
}

.employee__status_active {
  background: #61C176;
  border: 1px solid #53A464;
  display: block;
}

.employee__status_non-active {
  background: #FF8D8D;
  border: 1px solid #AFB3B6;
  display: block;
}
